{
  "swagger": "2.0",
  "info": {
    "title": "REST API",
    "description": "# Welcome to Coinbase Advanced Trade API\n## Introduction\nThe Advanced Trade API (or Advanced API) supports programmatic trading and order management with a REST API and WebSocket protocol for real-time market data.\nThe following API pages detail various REST API endpoints we offer.\n## Getting Started\nTo get started, please visit one of the following pages:\n- [Authentication](/advanced-trade/docs/rest-api-auth)\n- [Rate limits](/advanced-trade/docs/rest-api-rate-limits)\n- [Postman files](/advanced-trade/docs/rest-api-postman)\n- [Make your first trade](/advanced-trade/docs/sdk-rest-client-trade)\n## Websocket API\n- [Websocket API reference](/advanced-trade/docs/ws-overview)",
    "version": "0.1"
  },
  "host": "api.coinbase.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json", "text/event-stream"],
  "paths": {
    "/api/v3/brokerage/accounts": {
      "get": {
        "summary": "List Accounts",
        "description": "Get a list of authenticated Advanced Trade accounts for the current user.",
        "operationId": "RetailBrokerageApi_GetAccounts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetAccountsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "The number of accounts to display per page. By default, displays 49 (max 250). If `has_next` is true, additional pages of accounts are available to be fetched. Use the `cursor` parameter to start on a specified page.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cursor",
            "description": "For paginated responses, returns all responses that come after this value.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "retail_portfolio_id",
            "description": "**(Deprecated)** Only returns the accounts matching the portfolio ID. Only applicable for legacy keys. CDP keys will default to the key's permissioned portfolio.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Accounts"]
      }
    },
    "/api/v3/brokerage/accounts/{account_uuid}": {
      "get": {
        "summary": "Get Account",
        "description": "Get a list of information about an account, given an account UUID.",
        "operationId": "RetailBrokerageApi_GetAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetAccountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "account_uuid",
            "description": "The account's UUID.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Accounts"]
      }
    },
    "/api/v3/brokerage/best_bid_ask": {
      "get": {
        "summary": "Get Best Bid/Ask",
        "description": "Get the best bid/ask for all products. A subset of all products can be returned instead by using the product_ids input.",
        "operationId": "RetailBrokerageApi_GetBestBidAsk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetBestBidAskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_ids",
            "description": "The list of trading pairs (e.g. 'BTC-USD').",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": ["Products"]
      }
    },
    "/api/v3/brokerage/product_book": {
      "get": {
        "summary": "Get Product Book",
        "description": "Get a list of bids/asks for a single product. The amount of detail shown can be customized with the limit parameter.",
        "operationId": "RetailBrokerageApi_GetProductBook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetProductBookResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "The trading pair (e.g. 'BTC-USD').",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "The number of bid/asks to be returned. ",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "aggregation_price_increment",
            "description": "The minimum price intervals at which buy and sell orders are grouped or combined in the order book.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Products"]
      }
    },
    "/api/v3/brokerage/products": {
      "get": {
        "summary": "List Products",
        "description": "Get a list of the available currency pairs for trading.",
        "operationId": "RetailBrokerageApi_GetProducts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.Products"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "The number of products to be returned.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "description": "The number of products to skip before returning.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "product_type",
            "description": "Only returns the orders matching this product type. By default, returns all product types.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_PRODUCT_TYPE", "SPOT", "FUTURE"],
            "default": "UNKNOWN_PRODUCT_TYPE"
          },
          {
            "name": "product_ids",
            "description": "The list of trading pairs (e.g. 'BTC-USD').",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "contract_expiry_type",
            "description": "Only returns the orders matching the contract expiry type. Only applicable if product_type is set to FUTURE.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_CONTRACT_EXPIRY_TYPE", "EXPIRING", "PERPETUAL"],
            "default": "UNKNOWN_CONTRACT_EXPIRY_TYPE"
          },
          {
            "name": "expiring_contract_status",
            "description": "Only returns contracts with this status (default is UNEXPIRED).",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_EXPIRING_CONTRACT_STATUS",
              "STATUS_UNEXPIRED",
              "STATUS_EXPIRED",
              "STATUS_ALL"
            ],
            "default": "UNKNOWN_EXPIRING_CONTRACT_STATUS"
          },
          {
            "name": "get_tradability_status",
            "description": "Whether or not to populate view_only with the tradability status of the product. This is only enabled for SPOT products.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "get_all_products",
            "description": "If true, return all products of all product types (including expired futures contracts).",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "products_sort_order",
            "description": "The order in which products are returned. By default, products are returned in 24 hour volume descending (in quote).",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "PRODUCTS_SORT_ORDER_UNDEFINED",
              "PRODUCTS_SORT_ORDER_VOLUME_24H_DESCENDING",
              "PRODUCTS_SORT_ORDER_LIST_TIME_DESCENDING"
            ],
            "default": "PRODUCTS_SORT_ORDER_UNDEFINED"
          }
        ],
        "tags": ["Products"]
      }
    },
    "/api/v3/brokerage/products/{product_id}": {
      "get": {
        "summary": "Get Product",
        "description": "Get information on a single product by product ID.",
        "operationId": "RetailBrokerageApi_GetProduct",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.Product"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "The trading pair (e.g. 'BTC-USD').",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "get_tradability_status",
            "description": "Whether or not to populate view_only with the tradability status of the product. This is only enabled for SPOT products.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": ["Products"]
      }
    },
    "/api/v3/brokerage/products/{product_id}/candles": {
      "get": {
        "summary": "Get Product Candles",
        "description": "Get rates for a single product by product ID, grouped in buckets.",
        "operationId": "RetailBrokerageApi_GetCandles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.Candles"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "The trading pair (e.g. 'BTC-USD').",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "description": "The UNIX timestamp indicating the start of the time interval.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "end",
            "description": "The UNIX timestamp indicating the end of the time interval.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "granularity",
            "description": "The timeframe each candle represents.",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "UNKNOWN_GRANULARITY",
              "ONE_MINUTE",
              "FIVE_MINUTE",
              "FIFTEEN_MINUTE",
              "THIRTY_MINUTE",
              "ONE_HOUR",
              "TWO_HOUR",
              "SIX_HOUR",
              "ONE_DAY"
            ],
            "default": "UNKNOWN_GRANULARITY"
          },
          {
            "name": "limit",
            "description": "The number of candle buckets to be returned. By default, returns 350 (max 350).",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": ["Products"]
      }
    },
    "/api/v3/brokerage/products/{product_id}/ticker": {
      "get": {
        "summary": "Get Market Trades",
        "description": "Get snapshot information by product ID about the last trades (ticks) and best bid/ask.",
        "operationId": "RetailBrokerageApi_GetMarketTrades",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetMarketTradesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "The trading pair (e.g. 'BTC-USD').",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "The number of trades to be returned. ",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "start",
            "description": "The UNIX timestamp indicating the start of the time interval.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "description": "The UNIX timestamp indicating the end of the time interval.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Products"]
      }
    },
    "/api/v3/brokerage/orders": {
      "post": {
        "summary": "Create Order",
        "description": "Create an order with a specified `product_id` (asset-pair), `side` (buy/sell), etc.",
        "operationId": "RetailBrokerageApi_PostOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.NewOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.NewOrderRequest"
            }
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/api/v3/brokerage/orders/batch_cancel": {
      "post": {
        "summary": "Cancel Orders",
        "description": "Initiate cancel requests for one or more orders.",
        "operationId": "RetailBrokerageApi_CancelOrders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.CancelOrdersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.CancelOrdersRequest"
            }
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/api/v3/brokerage/orders/edit": {
      "post": {
        "summary": "Edit Order",
        "description": "Edit an order with a specified new `size`, or new `price`.",
        "operationId": "RetailBrokerageApi_EditOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.EditOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.EditOrderRequest"
            }
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/api/v3/brokerage/orders/edit_preview": {
      "post": {
        "summary": "Edit Order Preview",
        "description": "Preview an edit order request with a specified new `size`, or new `price`.",
        "operationId": "RetailBrokerageApi_PreviewEditOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.PreviewEditOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.EditOrderRequest"
            }
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/api/v3/brokerage/orders/historical/batch": {
      "get": {
        "summary": "List Orders",
        "description": "Get a list of orders filtered by optional query parameters (`product_id`, `order_status`, etc).",
        "operationId": "RetailBrokerageApi_GetHistoricalOrders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetHistoricalOrdersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "order_ids",
            "description": "ID(s) of order(s).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "product_ids",
            "description": "Optional string of the product ID(s). Defaults to null, or fetch for all products.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "product_type",
            "description": "Returns orders matching this product type. By default, returns all product types.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_PRODUCT_TYPE", "SPOT", "FUTURE"],
            "default": "UNKNOWN_PRODUCT_TYPE"
          },
          {
            "name": "order_status",
            "description": "Only returns orders matching the specified order statuses.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PENDING",
                "OPEN",
                "FILLED",
                "CANCELLED",
                "EXPIRED",
                "FAILED",
                "UNKNOWN_ORDER_STATUS",
                "QUEUED",
                "CANCEL_QUEUED"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "time_in_forces",
            "description": "Only orders matching this time in force(s) are returned. Default is to return all time in forces.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "UNKNOWN_TIME_IN_FORCE",
                "GOOD_UNTIL_DATE_TIME",
                "GOOD_UNTIL_CANCELLED",
                "IMMEDIATE_OR_CANCEL",
                "FILL_OR_KILL"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_types",
            "description": "Only returns orders matching the specified order types (e.g. MARKET). By default, returns all order types.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "UNKNOWN_ORDER_TYPE",
                "MARKET",
                "LIMIT",
                "STOP",
                "STOP_LIMIT",
                "BRACKET",
                "TWAP"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_side",
            "description": "Only returns the orders matching the specified side (e.g. 'BUY', 'SELL'). By default, returns all sides.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["BUY", "SELL"],
            "default": ""
          },
          {
            "name": "start_date",
            "description": "The start date to fetch orders from (inclusive). If provided, only orders created after this date will be returned.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "RFC3339 Timestamp"
          },
          {
            "name": "end_date",
            "description": "The end date to fetch orders from (exclusive). If provided, only orders with creation time before this date will be returned.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "RFC3339 Timestamp"
          },
          {
            "name": "order_placement_source",
            "description": "Only returns the orders matching this placement source. By default, returns RETAIL_ADVANCED placement source.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_PLACEMENT_SOURCE",
              "RETAIL_SIMPLE",
              "RETAIL_ADVANCED"
            ],
            "default": "RETAIL_ADVANCED"
          },
          {
            "name": "contract_expiry_type",
            "description": "Only returns the orders matching the contract expiry type. Only applicable if product_type is set to FUTURE.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_CONTRACT_EXPIRY_TYPE", "EXPIRING", "PERPETUAL"],
            "default": "UNKNOWN_CONTRACT_EXPIRY_TYPE"
          },
          {
            "name": "asset_filters",
            "description": "Only returns the orders where the quote, base or underlying asset matches the provided asset filter(s) (e.g. 'BTC').",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "retail_portfolio_id",
            "description": "**(Deprecated)** Only orders matching this retail portfolio id are returned. Only applicable for legacy keys. CDP keys will default to the key's permissioned portfolio.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "The number of orders to display per page (no default amount). If `has_next` is true, additional pages of orders are available to be fetched. Use the `cursor` parameter to start on a specified page.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cursor",
            "description": "For paginated responses, returns all responses that come after this value.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_by",
            "description": "Sort results by a field, results use unstable pagination. Default is to sort by creation time.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_SORT_BY", "LIMIT_PRICE", "LAST_FILL_TIME"],
            "default": "UNKNOWN_SORT_BY"
          },
          {
            "name": "user_native_currency",
            "description": "**(Deprecated)**  Native currency to fetch order with. Default is `USD`.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/api/v3/brokerage/orders/historical/fills": {
      "get": {
        "summary": "List Fills",
        "description": "Get a list of fills filtered by optional query parameters (`product_id`, `order_id`, etc).",
        "operationId": "RetailBrokerageApi_GetFills",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetFillsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "order_ids",
            "description": "The ID(s) of order(s).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "trade_ids",
            "description": "The ID(s) of the trades of fills.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "product_ids",
            "description": "The ID(s) of the product(s) to filter fills by.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "start_sequence_timestamp",
            "description": "Only fills with a trade time after the specified start date are returned.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "RFC3339 Timestamp"
          },
          {
            "name": "end_sequence_timestamp",
            "description": "Only fills with a trade time before the specified end date are returned.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "RFC3339 Timestamp"
          },
          {
            "name": "retail_portfolio_id",
            "description": "**(Deprecated)** Only fills matching this retail portfolio id are returned. Only applicable for legacy keys. CDP keys will default to the key's permissioned portfolio.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "The number of fills to be returned (default is 100).",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "cursor",
            "description": "For paginated responses, returns all responses that come after this value.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_by",
            "description": "Sort results by a field, results use unstable pagination. Default is sort by creation time",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_SORT_BY", "PRICE", "TRADE_TIME"],
            "default": "UNKNOWN_SORT_BY"
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/api/v3/brokerage/orders/historical/{order_id}": {
      "get": {
        "summary": "Get Order",
        "description": "Get a single order by order ID.",
        "operationId": "RetailBrokerageApi_GetHistoricalOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetHistoricalOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "The ID of the order.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_order_id",
            "description": "**(Deprecated)** Client Order ID to fetch the order with.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_native_currency",
            "description": "**(Deprecated)**  Native currency to fetch order with. Default is `USD`.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/api/v3/brokerage/orders/preview": {
      "post": {
        "summary": "Preview Order",
        "description": "Preview an order.",
        "operationId": "RetailBrokerageApi_PreviewOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.OrderPreviewResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.OrderPreviewRequest"
            }
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/api/v3/brokerage/orders/close_position": {
      "post": {
        "summary": "Close Position",
        "description": "Places an order to close any open positions for a specified `product_id`.",
        "operationId": "RetailBrokerageApi_ClosePosition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.ClosePositionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.ClosePositionRequest"
            }
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/api/v3/brokerage/portfolios": {
      "get": {
        "summary": "List Portfolios",
        "description": "Get all portfolios of a user.",
        "operationId": "RetailBrokerageApi_GetPortfolios",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetPortfoliosResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_type",
            "description": "Only returns portfolios matching this portfolio type.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNDEFINED", "DEFAULT", "CONSUMER", "INTX"],
            "default": "UNDEFINED"
          }
        ],
        "tags": ["Portfolios"]
      },
      "post": {
        "summary": "Create Portfolio",
        "description": "Create a portfolio.",
        "operationId": "RetailBrokerageApi_CreatePortfolio",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.CreatePortfolioResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.CreatePortfolioRequest"
            }
          }
        ],
        "tags": ["Portfolios"]
      }
    },
    "/api/v3/brokerage/portfolios/move_funds": {
      "post": {
        "summary": "Move Portfolio Funds",
        "description": "Move funds between portfolios.",
        "operationId": "RetailBrokerageApi_MovePortfolioFunds",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.MovePortfolioFundsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.MovePortfolioFundsRequest"
            }
          }
        ],
        "tags": ["Portfolios"]
      }
    },
    "/api/v3/brokerage/portfolios/{portfolio_uuid}": {
      "get": {
        "summary": "Get Portfolio Breakdown",
        "description": "Get the breakdown of a portfolio.",
        "operationId": "RetailBrokerageApi_GetPortfolioBreakdown",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetPortfolioBreakdownResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_uuid",
            "description": "The portfolio UUID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "currency",
            "description": "The currency symbol (e.g. USD).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Portfolios"]
      },
      "delete": {
        "summary": "Delete Portfolio",
        "description": "Delete portfolio.",
        "operationId": "RetailBrokerageApi_DeletePortfolio",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.DeletePortfolioResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_uuid",
            "description": "The portfolio UUID.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Portfolios"]
      },
      "put": {
        "summary": "Edit Portfolio",
        "description": "Edit a portfolio.",
        "operationId": "RetailBrokerageApi_EditPortfolio",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.EditPortfolioResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_uuid",
            "description": "The portfolio UUID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.EditPortfolioRequest"
            }
          }
        ],
        "tags": ["Portfolios"]
      }
    },
    "/api/v3/brokerage/cfm/balance_summary": {
      "get": {
        "summary": "Get Futures Balance Summary",
        "description": "Get a summary of balances for CFM trading",
        "operationId": "RetailBrokerageApi_GetFCMBalanceSummary",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.GetFCMBalanceSummaryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "tags": ["Futures"]
      }
    },
    "/api/v3/brokerage/cfm/intraday/margin_setting": {
      "get": {
        "summary": "Get Intraday Margin Setting",
        "description": "Get the futures intraday margin setting",
        "operationId": "RetailBrokerageApi_GetIntradayMarginSetting",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.GetIntradayMarginSettingResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "tags": ["Futures"]
      },
      "post": {
        "summary": "Set Intraday Margin Setting",
        "description": "Set the futures intraday margin setting",
        "operationId": "RetailBrokerageApi_SetIntradayMarginSetting",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.SetIntradayMarginSettingResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.SetIntradayMarginSettingRequest"
            }
          }
        ],
        "tags": ["Futures"]
      }
    },
    "/api/v3/brokerage/cfm/intraday/current_margin_window": {
      "get": {
        "summary": "Get Current Margin Window",
        "description": "Get the futures current margin window",
        "operationId": "RetailBrokerageApi_GetCurrentMarginWindow",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.GetCurrentMarginWindowResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "margin_profile_type",
            "description": "The margin profile type for your account.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "MARGIN_PROFILE_TYPE_UNSPECIFIED",
              "MARGIN_PROFILE_TYPE_RETAIL_REGULAR",
              "MARGIN_PROFILE_TYPE_RETAIL_INTRADAY_MARGIN_1"
            ],
            "default": "MARGIN_PROFILE_TYPE_UNSPECIFIED"
          }
        ],
        "tags": ["Futures"]
      }
    },
    "/api/v3/brokerage/cfm/positions": {
      "get": {
        "summary": "List Futures Positions",
        "description": "Get a list of positions in CFM products",
        "operationId": "RetailBrokerageApi_GetFCMPositions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.GetFCMPositionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "tags": ["Futures"]
      }
    },
    "/api/v3/brokerage/cfm/positions/{product_id}": {
      "get": {
        "summary": "Get Futures Position",
        "description": "Get positions for a specific CFM product",
        "operationId": "RetailBrokerageApi_GetFCMPosition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.GetFCMPositionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "The ticker symbol (e.g. 'BIT-28JUL23-CDE').",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Futures"]
      }
    },
    "/api/v3/brokerage/cfm/sweeps/schedule": {
      "post": {
        "summary": "Schedule Futures Sweep",
        "description": "Schedules a sweep of funds from FCM wallet to USD Spot wallet",
        "operationId": "RetailBrokerageApi_ScheduleFCMSweep",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.ScheduleFCMSweepResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.ScheduleFCMSweepRequest"
            }
          }
        ],
        "tags": ["Futures"]
      }
    },
    "/api/v3/brokerage/cfm/sweeps": {
      "get": {
        "summary": "List Futures Sweeps",
        "description": "Get pending and processing sweeps of funds from FCM wallet to USD Spot wallet",
        "operationId": "RetailBrokerageApi_GetFCMSweeps",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.GetFCMSweepsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "tags": ["Futures"]
      },
      "delete": {
        "summary": "Cancel Pending Futures Sweep",
        "description": "Cancel the pending sweep of funds from FCM wallet to USD Spot wallet",
        "operationId": "RetailBrokerageApi_CancelFCMSweep",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.fcm.CancelFCMSweepResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "tags": ["Futures"]
      }
    },
    "/api/v3/brokerage/intx/allocate": {
      "post": {
        "summary": "Allocate Portfolio",
        "description": "Allocate portfolio funds to a sub-portfolio on Intx Portfolio",
        "operationId": "RetailBrokerageApi_AllocatePortfolio",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.intx.AllocatePortfolioResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.intx.AllocatePortfolioRequest"
            }
          }
        ],
        "tags": ["Perpetuals"]
      }
    },
    "/api/v3/brokerage/intx/portfolio/{portfolio_uuid}": {
      "get": {
        "summary": "Get Perpetuals Portfolio Summary",
        "description": "Get a summary of your Perpetuals portfolio",
        "operationId": "RetailBrokerageApi_GetIntxPortfolioSummary",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.intx.GetPortfoliosResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_uuid",
            "description": "The portfolio UUID.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Perpetuals"]
      }
    },
    "/api/v3/brokerage/intx/positions/{portfolio_uuid}": {
      "get": {
        "summary": "List Perpetuals Positions",
        "description": "Get a list of open positions in your Perpetuals portfolio",
        "operationId": "RetailBrokerageApi_GetIntxPositions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.intx.GetPositionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_uuid",
            "description": "The portfolio UUID.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Perpetuals"]
      }
    },
    "/api/v3/brokerage/intx/positions/{portfolio_uuid}/{symbol}": {
      "get": {
        "summary": "Get Perpetuals Position",
        "description": "Get a specific open position on Intx",
        "operationId": "RetailBrokerageApi_GetIntxPosition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.intx.GetPositionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_uuid",
            "description": "The portfolio UUID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "symbol",
            "description": "The trading pair (e.g. 'BTC-PERP-INTX').",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Perpetuals"]
      }
    },
    "/api/v3/brokerage/intx/balances/{portfolio_uuid}": {
      "get": {
        "summary": "Get Portfolios Balances",
        "description": "Get a list of asset balances on Intx for a given Portfolio",
        "operationId": "RetailBrokerageApi_GetIntxBalances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.intx_common.GetBalanceSummaryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_uuid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Perpetuals"]
      }
    },
    "/api/v3/brokerage/intx/multi_asset_collateral": {
      "post": {
        "summary": "Opt In or Out of Multi Asset Collateral",
        "description": "Enable or Disable Multi Asset Collateral for a given Portfolio",
        "operationId": "RetailBrokerageApi_IntxMultiAssetCollateral",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.intx.MultiAssetCollateralResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.intx.MultiAssetCollateralRequest"
            }
          }
        ],
        "tags": ["Perpetuals"]
      }
    },
    "/api/v3/brokerage/transaction_summary": {
      "get": {
        "summary": "Get Transaction Summary",
        "description": "Get a summary of transactions with fee tiers, total volume, and fees.",
        "operationId": "RetailBrokerageApi_GetTransactionSummary",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetTransactionSummaryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_type",
            "description": "Only returns the orders matching this product type. By default, returns all product types.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_PRODUCT_TYPE", "SPOT", "FUTURE"],
            "default": "UNKNOWN_PRODUCT_TYPE"
          },
          {
            "name": "contract_expiry_type",
            "description": "Only returns the orders matching this contract expiry type. Only applicable if product_type is set to FUTURE.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_CONTRACT_EXPIRY_TYPE", "EXPIRING", "PERPETUAL"],
            "default": "UNKNOWN_CONTRACT_EXPIRY_TYPE"
          },
          {
            "name": "product_venue",
            "description": "Venue for product",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_VENUE_TYPE", "CBE", "FCM", "INTX"],
            "default": "UNKNOWN_VENUE_TYPE"
          }
        ],
        "tags": ["Fees"]
      }
    },
    "/api/v3/brokerage/convert/quote": {
      "post": {
        "summary": "Create Convert Quote",
        "description": "Create a convert quote with a specified source account, target account, and amount. Convert is applicable for USDC-USD and EURC-EUR conversion",
        "operationId": "RetailBrokerageApi_CreateConvertQuote",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.convert.CreateConvertQuoteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.convert.CreateConvertQuoteRequest"
            }
          }
        ],
        "tags": ["Converts"]
      }
    },
    "/api/v3/brokerage/convert/trade/{trade_id}": {
      "get": {
        "summary": "Get Convert Trade",
        "description": "Gets a list of information about a convert trade with a specified trade id, source account, and target account",
        "operationId": "RetailBrokerageApi_GetConvertTrade",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.convert.GetConvertTradeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "trade_id",
            "description": "The ID of the trade to commit.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "from_account",
            "description": "The currency of the account to convert from (e.g. USD).",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "to_account",
            "description": "The currency of the account to convert to (e.g. USDC).",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Converts"]
      },
      "post": {
        "summary": "Commit Convert Trade",
        "description": "Commits a convert trade with a specified trade id, source account, and target account",
        "operationId": "RetailBrokerageApi_CommitConvertTrade",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.convert.CommitConvertTradeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "trade_id",
            "description": "The ID of the trade to commit.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.convert.CommitConvertTradeRequest"
            }
          }
        ],
        "tags": ["Converts"]
      }
    },
    "/api/v3/brokerage/time": {
      "get": {
        "summary": "Get Server Time",
        "description": "Get the current time from the Coinbase Advanced API.",
        "operationId": "RetailBrokerageApi_GetServerTime",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.common.ExtendedTimestamp"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "tags": ["Public"]
      }
    },
    "/api/v3/brokerage/market/product_book": {
      "get": {
        "summary": "Get Public Product Book",
        "description": "Get a list of bids/asks for a single product. The amount of detail shown can be customized with the limit parameter.",
        "operationId": "RetailBrokerageApi_GetPublicProductBook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetProductBookResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "The trading pair (e.g. 'BTC-USD').",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "The number of bid/asks to be returned. ",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "aggregation_price_increment",
            "description": "The minimum price intervals at which buy and sell orders are grouped or combined in the order book.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Public"]
      }
    },
    "/api/v3/brokerage/market/products": {
      "get": {
        "summary": "List Public Products",
        "description": "Get a list of the available currency pairs for trading.",
        "operationId": "RetailBrokerageApi_GetPublicProducts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.Products"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "The number of products to be returned.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "description": "The number of products to skip before returning.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "product_type",
            "description": "Only returns the orders matching this product type. By default, returns all product types.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_PRODUCT_TYPE", "SPOT", "FUTURE"],
            "default": "UNKNOWN_PRODUCT_TYPE"
          },
          {
            "name": "product_ids",
            "description": "The list of trading pairs (e.g. 'BTC-USD').",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "contract_expiry_type",
            "description": "Only returns the orders matching the contract expiry type. Only applicable if product_type is set to FUTURE.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["UNKNOWN_CONTRACT_EXPIRY_TYPE", "EXPIRING", "PERPETUAL"],
            "default": "UNKNOWN_CONTRACT_EXPIRY_TYPE"
          },
          {
            "name": "expiring_contract_status",
            "description": "Only returns contracts with this status (default is UNEXPIRED).",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_EXPIRING_CONTRACT_STATUS",
              "STATUS_UNEXPIRED",
              "STATUS_EXPIRED",
              "STATUS_ALL"
            ],
            "default": "UNKNOWN_EXPIRING_CONTRACT_STATUS"
          },
          {
            "name": "get_all_products",
            "description": "If true, return all products of all product types (including expired futures contracts).",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "products_sort_order",
            "description": "The order in which products are returned. By default, products are returned in 24 hour volume descending (in quote).",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "PRODUCTS_SORT_ORDER_UNDEFINED",
              "PRODUCTS_SORT_ORDER_VOLUME_24H_DESCENDING",
              "PRODUCTS_SORT_ORDER_LIST_TIME_DESCENDING"
            ],
            "default": "PRODUCTS_SORT_ORDER_UNDEFINED"
          }
        ],
        "tags": ["Public"]
      }
    },
    "/api/v3/brokerage/market/products/{product_id}": {
      "get": {
        "summary": "Get Public Product",
        "description": "Get information on a single product by product ID.",
        "operationId": "RetailBrokerageApi_GetPublicProduct",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.Product"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "The trading pair (e.g. 'BTC-USD').",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Public"]
      }
    },
    "/api/v3/brokerage/market/products/{product_id}/candles": {
      "get": {
        "summary": "Get Public Product Candles",
        "description": "Get rates for a single product by product ID, grouped in buckets.",
        "operationId": "RetailBrokerageApi_GetPublicCandles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.Candles"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "The trading pair (e.g. 'BTC-USD').",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "description": "The UNIX timestamp indicating the start of the time interval.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "end",
            "description": "The UNIX timestamp indicating the end of the time interval.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "granularity",
            "description": "The timeframe each candle represents.",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "UNKNOWN_GRANULARITY",
              "ONE_MINUTE",
              "FIVE_MINUTE",
              "FIFTEEN_MINUTE",
              "THIRTY_MINUTE",
              "ONE_HOUR",
              "TWO_HOUR",
              "SIX_HOUR",
              "ONE_DAY"
            ],
            "default": "UNKNOWN_GRANULARITY"
          },
          {
            "name": "limit",
            "description": "The number of candle buckets to be returned. By default, returns 350 (max 350).",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": ["Public"]
      }
    },
    "/api/v3/brokerage/market/products/{product_id}/ticker": {
      "get": {
        "summary": "Get Public Market Trades",
        "description": "Get snapshot information by product ID about the last trades (ticks) and best bid/ask.",
        "operationId": "RetailBrokerageApi_GetPublicMarketTrades",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_api.authed.retail_brokerage_api.GetMarketTradesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "The trading pair (e.g. 'BTC-USD').",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "The number of trades to be returned. ",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "start",
            "description": "The UNIX timestamp indicating the start of the time interval.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "description": "The UNIX timestamp indicating the end of the time interval.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Public"]
      }
    },
    "/api/v3/brokerage/payment_methods": {
      "get": {
        "summary": "List Payment Methods",
        "description": "Get a list of payment methods for the current user.",
        "operationId": "RetailBrokerageApi_GetPaymentMethods",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.payment_method.GetPaymentMethodsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "tags": ["Payment Methods"]
      }
    },
    "/api/v3/brokerage/payment_methods/{payment_method_id}": {
      "get": {
        "summary": "Get Payment Method",
        "description": "Get information about a payment method for the current user.",
        "operationId": "RetailBrokerageApi_GetPaymentMethod",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.payment_method.GetPaymentMethodResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "payment_method_id",
            "description": "The ID of the payment method. Refer to [List Payment Methods](/advanced-trade/reference/retailbrokerageapi_getpaymentmethods) for the list of all available payment methods and their corresponding IDs.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Payment Methods"]
      }
    },
    "/api/v3/brokerage/key_permissions": {
      "get": {
        "summary": "Get API Key Permissions",
        "description": "Get information about your CDP API key permissions",
        "operationId": "RetailBrokerageApi_GetApiKeyPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.retail.rest.proxy.utility.GetApiKeyPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "tags": ["Data API"]
      }
    }
  },
  "definitions": {
    "coinbase.brokerage.types.Decimal": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "String representation allows for unlimited precision."
        }
      },
      "description": "Represents a decimal number with precision."
    },
    "coinbase.consumer.shared.common.Amount": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        }
      },
      "title": "Message that represents the monetary amount."
    },
    "coinbase.consumer.shared.common.Link": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      },
      "title": "In-app hyperlink, commonly used to reference support pages.\ne.g. Link(text: \"Learn More\", url: \"https://help.coinbase.com/...\")"
    },
    "coinbase.intx_common.Asset": {
      "type": "object",
      "properties": {
        "asset_id": {
          "type": "string"
        },
        "asset_uuid": {
          "type": "string"
        },
        "asset_name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "collateral_weight": {
          "type": "string"
        },
        "account_collateral_limit": {
          "type": "string"
        },
        "ecosystem_collateral_limit_breached": {
          "type": "boolean"
        },
        "asset_icon_url": {
          "type": "string"
        },
        "supported_networks_enabled": {
          "type": "boolean"
        }
      }
    },
    "coinbase.intx_common.Balance": {
      "type": "object",
      "properties": {
        "asset": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.intx_common.Asset"
            }
          ]
        },
        "quantity": {
          "type": "string"
        },
        "hold": {
          "type": "string"
        },
        "transfer_hold": {
          "type": "string"
        },
        "collateral_value": {
          "type": "string"
        },
        "collateral_weight": {
          "type": "string"
        },
        "max_withdraw_amount": {
          "type": "string"
        },
        "loan": {
          "type": "string"
        },
        "loan_collateral_requirement_usd": {
          "type": "string"
        },
        "pledged_quantity": {
          "type": "string"
        }
      }
    },
    "coinbase.intx_common.GetBalanceSummaryResponse": {
      "type": "object",
      "properties": {
        "portfolio_balances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/coinbase.intx_common.PortfolioBalance"
          }
        }
      }
    },
    "coinbase.intx_common.PortfolioBalance": {
      "type": "object",
      "properties": {
        "portfolio_uuid": {
          "type": "string"
        },
        "balances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/coinbase.intx_common.Balance"
          }
        },
        "is_margin_limit_reached": {
          "type": "boolean"
        }
      }
    },
    "coinbase.intx_common.PortfolioLiquidationStatus": {
      "type": "string",
      "enum": [
        "PORTFOLIO_LIQUIDATION_STATUS_UNSPECIFIED",
        "PORTFOLIO_LIQUIDATION_STATUS_CANCELING",
        "PORTFOLIO_LIQUIDATION_STATUS_AUTO_LIQUIDATING",
        "PORTFOLIO_LIQUIDATION_STATUS_LSP_ASSIGNMENT",
        "PORTFOLIO_LIQUIDATION_STATUS_CUSTOMER_ASSIGNMENT",
        "PORTFOLIO_LIQUIDATION_STATUS_MANUAL",
        "PORTFOLIO_LIQUIDATION_STATUS_NOT_LIQUIDATING"
      ],
      "default": "PORTFOLIO_LIQUIDATION_STATUS_UNSPECIFIED"
    },
    "coinbase.intx_common.PortfolioMarginFlags": {
      "type": "string",
      "enum": [
        "PORTFOLIO_MARGIN_FLAGS_UNSPECIFIED",
        "PORTFOLIO_MARGIN_FLAGS_IN_LIQUIDATION"
      ],
      "default": "PORTFOLIO_MARGIN_FLAGS_UNSPECIFIED"
    },
    "coinbase.intx_common.PortfolioMarginType": {
      "type": "string",
      "enum": [
        "MARGIN_TYPE_UNSPECIFIED",
        "MARGIN_TYPE_CROSS",
        "MARGIN_TYPE_ISOLATED"
      ],
      "default": "MARGIN_TYPE_UNSPECIFIED"
    },
    "coinbase.intx_common.PositionSide": {
      "type": "string",
      "enum": [
        "POSITION_SIDE_UNKNOWN",
        "POSITION_SIDE_LONG",
        "POSITION_SIDE_SHORT"
      ],
      "default": "POSITION_SIDE_UNKNOWN"
    },
    "coinbase.payment_method_service.ArgentineBankAccountDetails": {
      "type": "object",
      "properties": {
        "tax_id": {
          "type": "string"
        },
        "cbu": {
          "type": "string"
        }
      }
    },
    "coinbase.payment_method_service.BankingCircleNowDetails": {
      "type": "object",
      "properties": {
        "iban": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "customer_payment_name": {
          "type": "string"
        }
      }
    },
    "coinbase.payment_method_service.BlikDetails": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "title": "The RFC-compliant email address of the account holder. (Optional)"
        },
        "country": {
          "type": "string",
          "description": "The country where the payer's bank account is located. Populated for all Blik payments in the PMSvc API response."
        },
        "account_holder": {
          "type": "string",
          "description": "Account holder names. This field is optional and may not be populated for all Blik payments in the PMSvc API response."
        }
      },
      "title": "https://developerhub.ppro.com/simple-api/docs/blik-redirect#specific-input-parameters-for-the-transaction-call"
    },
    "coinbase.payment_method_service.MbWayDetails": {
      "type": "object",
      "title": "Empty details for Mb Way since no input needed from user\nhttps://developerhub.ppro.com/simple-api/docs/mb-way#specific-input-parameters-for-the-transaction-call"
    },
    "coinbase.payment_method_service.PixDetails": {
      "type": "object",
      "properties": {
        "account_number": {
          "type": "string",
          "title": "The account number for the PIX transaction"
        },
        "account_type": {
          "type": "string",
          "title": "The type of account (e.g., checking, savings)"
        },
        "bank_code": {
          "type": "string",
          "title": "The code of the bank involved in the transaction"
        },
        "bank_name": {
          "type": "string",
          "title": "The name of the bank"
        },
        "branch_number": {
          "type": "string",
          "title": "The branch number of the bank"
        },
        "customer_payment_name": {
          "type": "string",
          "title": "The name of the customer making the payment"
        },
        "sender_document": {
          "type": "string",
          "title": "The sender document for the transaction. It is really the tax_id of the sender: CPF for individual) or CNPJ for business in Brazil"
        },
        "pix_key": {
          "type": "string",
          "description": "The PIX key for the transaction. Only used for withdraw. For deposit, it is not used."
        }
      },
      "title": "Represents details for a PIX transaction"
    },
    "coinbase.payment_method_service.TrustlyDetails": {
      "type": "object",
      "properties": {
        "country": {
          "type": "string",
          "description": "The country where the payer's bank account is located. Populated for all Trustly payments in the PMSvc API response."
        },
        "iban": {
          "type": "string",
          "description": "IBAN of the payer. This field is optional and may not be populated for all Trustly payments in the PMSvc API response."
        },
        "account_holder": {
          "type": "string",
          "description": "Account holder names. This field is optional and may not be populated for all Trustly payments in the PMSvc API response."
        },
        "bank_code": {
          "type": "string",
          "description": "Bank code of the payer's bank account. This field is optional and may not be populated for all Trustly payments in the PMSvc API response."
        },
        "account_number": {
          "type": "string",
          "description": "Bank account number belonging to the payer. This field is optional and may not be populated for all Trustly payments in the PMSvc API response."
        },
        "partial_account_number": {
          "type": "string",
          "description": "Partial Account Number belonging to the payer. Populated for all Trustly payments in the PMSvc API response."
        },
        "bank_name": {
          "type": "string",
          "description": "Bank name of the payer. Populated for all Trustly payments in the PMSvc API response."
        },
        "email": {
          "type": "string",
          "description": "Consumer Email. Populated for all Trustly payments in the PMSvc API response."
        }
      },
      "description": "https://developerhub.ppro.com/simple-api/docs/trustly#specific-input-parameters-for-the-transaction-call."
    },
    "coinbase.payments.common.Address": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "country": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.DigitalWalletDetails": {
      "type": "object",
      "properties": {
        "nonce": {
          "type": "string"
        },
        "correlation_id": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.Money": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        }
      },
      "description": "This is a clone of",
      "title": "A quantity of money"
    },
    "coinbase.payments.common.payment_methods.Address": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "country": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.Allocation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "legs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/coinbase.payments.common.payment_methods.AllocationLeg"
          }
        },
        "is_netted": {
          "type": "boolean"
        }
      }
    },
    "coinbase.payments.common.payment_methods.AllocationLeg": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "movements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/coinbase.payments.common.payment_methods.FundMovement"
          }
        },
        "is_netted": {
          "type": "boolean"
        }
      }
    },
    "coinbase.payments.common.payment_methods.ApplePay": {
      "type": "object",
      "properties": {
        "braintree": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.ApplePay.BraintreeData"
            }
          ]
        },
        "apple_pay": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.DigitalWalletDetails"
            }
          ]
        },
        "user_id": {
          "type": "string"
        },
        "postal_code": {
          "type": "string",
          "title": "The following fields can be populated on the PM after an order\nis submitted in the InstructionResponse. They should not be filled in\na normal order Instruction though"
        },
        "customer_name": {
          "type": "string"
        },
        "address": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.Address"
            }
          ]
        },
        "six_digit_bin": {
          "type": "string"
        },
        "last_four": {
          "type": "string"
        },
        "issuing_country": {
          "type": "string"
        },
        "issuing_bank": {
          "type": "string"
        },
        "product_id": {
          "type": "string"
        },
        "scheme": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.ApplePay.Scheme"
            }
          ]
        },
        "prepaid": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.ApplePay.Result"
            }
          ]
        },
        "debit": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.ApplePay.Result"
            }
          ]
        }
      },
      "title": "uniquely identifies a user's Coinbase account"
    },
    "coinbase.payments.common.payment_methods.ApplePay.BraintreeData": {
      "type": "object",
      "properties": {
        "nonce": {
          "type": "string"
        },
        "correlation_id": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.ApplePay.Result": {
      "type": "string",
      "enum": ["UNCERTAIN", "TRUE", "FALSE"],
      "default": "UNCERTAIN"
    },
    "coinbase.payments.common.payment_methods.ApplePay.Scheme": {
      "type": "string",
      "enum": ["UNKNOWN", "VISA", "MASTERCARD"],
      "default": "UNKNOWN"
    },
    "coinbase.payments.common.payment_methods.BancomatPay": {
      "type": "object",
      "properties": {
        "customer_name": {
          "type": "string"
        },
        "account": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.BancomatPayAccount"
            }
          ]
        }
      }
    },
    "coinbase.payments.common.payment_methods.BancomatPayAccount": {
      "type": "object",
      "properties": {
        "phone_number": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.BankAccount": {
      "type": "object",
      "properties": {
        "customer_account_type": {
          "type": "string"
        },
        "customer_account_number": {
          "type": "string"
        },
        "customer_routing_number": {
          "type": "string"
        },
        "customer_name": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.BlockchainAddress": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "destination_tag": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.BlockchainTransaction": {
      "type": "object",
      "properties": {
        "hsh": {
          "type": "string"
        },
        "height": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "coinbase.payments.common.payment_methods.CTN": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.Card": {
      "type": "object",
      "properties": {
        "first_data_token": {
          "description": "A card token locked to the Firstdata vendor.",
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.FirstDataToken"
            }
          ]
        },
        "expiry_date": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.ExpiryDate"
            }
          ]
        },
        "postal_code": {
          "type": "string"
        },
        "merchant": {
          "title": "set by satellite after processing",
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.Merchant"
            }
          ]
        },
        "vault_token": {
          "description": "A card token provided by our generic token provider.\nThis can technically be provided by any vendor, but is currently only provided by TokenEx.\nThis token can be used to forward card information to any API using the token vault as a middleman.",
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.VaultToken"
            }
          ]
        },
        "worldpay_params": {
          "description": "A card token locked to the Worldpay vendor.",
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.WorldpayParams"
            }
          ]
        },
        "previous_scheme_tx_id": {
          "type": "string"
        },
        "customer_name": {
          "type": "string"
        },
        "address": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.Address"
            }
          ]
        },
        "phone_number": {
          "type": "string"
        },
        "user_id": {
          "type": "string"
        },
        "customer_first_name": {
          "type": "string"
        },
        "customer_last_name": {
          "type": "string"
        },
        "six_digit_bin": {
          "type": "string"
        },
        "last_four": {
          "type": "string"
        },
        "customer_dob": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.Card.Dob"
            }
          ]
        },
        "scheme": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.Card.Scheme"
            }
          ]
        },
        "eight_digit_bin": {
          "type": "string",
          "title": "We will use eight_digit_bin to route payments to the preferred processor based on the card bin.\nA regulatory change in 2022 extended the BIN to eight digits globally due to the increasing number of cards\nWe will set both six_digit_bin and eight_digit_bin in this proto from PLS to PGS\nE.g: 41654902 -> six_digit_bin = 416549, eight_digit_bin = 41654902"
        },
        "checkout_token": {
          "description": "A card token locked to the Checkout vendor.",
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.CheckoutToken"
            }
          ]
        }
      },
      "title": "The card as a payment method source or target"
    },
    "coinbase.payments.common.payment_methods.Card.Dob": {
      "type": "object",
      "properties": {
        "month": {
          "type": "string"
        },
        "day": {
          "type": "string"
        },
        "year": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.Card.Scheme": {
      "type": "string",
      "enum": ["UNKNOWN", "VISA", "MASTERCARD"],
      "default": "UNKNOWN"
    },
    "coinbase.payments.common.payment_methods.Cbit": {
      "type": "object",
      "properties": {
        "cbit_wallet_address": {
          "type": "string"
        },
        "customers_bank_account_id": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.CheckoutPaymentLink": {
      "type": "object",
      "properties": {
        "payment_link_id": {
          "type": "string"
        }
      },
      "title": "unique identifier for a checkout.com payment link"
    },
    "coinbase.payments.common.payment_methods.CheckoutToken": {
      "type": "object",
      "properties": {
        "source_id": {
          "type": "string",
          "title": "A payment source identifier from Checkout with format ^(src)_(\\w{26})$\nExample: src_nwd3m4in3hkuddfpjsaevunhdy"
        }
      }
    },
    "coinbase.payments.common.payment_methods.CoinbaseAccount": {
      "type": "object",
      "properties": {
        "account_id": {
          "type": "string"
        }
      },
      "title": "uniquely identifies a user's Coinbase account"
    },
    "coinbase.payments.common.payment_methods.CustodialPool": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "network": {
          "type": "string"
        },
        "fiat_id": {
          "type": "string"
        }
      },
      "title": "note this is to support transaction logs where everything is expected to be a pm for a transfers source and target"
    },
    "coinbase.payments.common.payment_methods.DAppWalletAccount": {
      "type": "object",
      "properties": {
        "user_uuid": {
          "type": "string"
        },
        "network": {
          "type": "string"
        },
        "cohort_id": {
          "type": "string"
        },
        "signing_backend": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        }
      },
      "title": "uniquely identifies a user's dapp wallet account/address"
    },
    "coinbase.payments.common.payment_methods.DAppWalletBlockchainAddress": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "cohort_id": {
          "type": "string"
        },
        "user_uuid": {
          "type": "string"
        },
        "pool": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.DefaultAccount": {
      "type": "object",
      "properties": {
        "user_uuid": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        }
      }
    },
    "coinbase.payments.common.payment_methods.DenebIMPS": {
      "type": "object",
      "properties": {
        "ifsc_code": {
          "type": "string"
        },
        "account_number": {
          "type": "string"
        },
        "customer_first_name": {
          "type": "string"
        },
        "customer_last_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "pan": {
          "type": "string"
        },
        "address": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.Address"
            }
          ]
        }
      }
    },
    "coinbase.payments.common.payment_methods.DenebUPI": {
      "type": "object",
      "properties": {
        "vpa_id": {
          "type": "string"
        },
        "customer_first_name": {
          "type": "string"
        },
        "customer_last_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "pan": {
          "type": "string"
        },
        "address": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.Address"
            }
          ]
        }
      }
    },
    "coinbase.payments.common.payment_methods.DerivativeSettlement": {
      "type": "object",
      "properties": {
        "account_settlements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/coinbase.payments.common.payment_methods.DerivativeSettlement.AccountSettlement"
          },
          "title": "derivative EOD settlement can involve one or more fund movements"
        },
        "equity_reset": {
          "title": "optionally reset CFM equity account",
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.DerivativeSettlement.EquityReset"
            }
          ]
        }
      }
    },
    "coinbase.payments.common.payment_methods.DerivativeSettlement.AccountSettlement": {
      "type": "object",
      "properties": {
        "amount": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.Money"
            }
          ]
        },
        "source_ledger_account": {
          "allOf": [
            {
              "$ref": "#/definitions/coinbase.payments.common.payment_methods.LedgerAccount"
            }
          ]
        },
[...]
